/*
Constants
*/
/*
Hides text in the margin
*/
/*
Turns a button into an icon
*/
/*
Centres a graphic or glyph inside an icon
*/
/*
Offers both the pixel and rem value of a single property
*/
/*
Offers both the pixel and rem values of a shorthand property
*/
/*
Offers the text size as both the pixel and rem value
*/
/*
Adds vendor prefixed to a property
*/
/*
Applies the "clearfix" hack to a container with floating content
*/
/*
	Placeholder label
*/
/* line 7, ../../src/scss/useful-placeholder.scss */
div.placeholder {
  white-space: nowrap;
  color: #999;
  font: normal normal normal 11px/100% Arial, Helvetica, sans-serif;
}
